<%= form_with model: @product do |f| %>
  <% if @product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@product.errors.count, t('common.form_errors.error')) %> <%= t('common.form_errors.error_full')%></h2>

      <ul>
        <% @product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :title, t(".title") %>
    <%= f.text_field :title%>
  </div>
  <div>
    <%= f.label :description, t(".description") %>
    <%= f.text_area :description%>
  </div>
  <div>
    <%= f.label :price, t(".price") %>
    <%= f.number_field :price%>
  </div>
  <div>
    <%= f.label :photo, t(".photo")%>
    <%= f.file_field :photo%>
  </div>


  <%=f.submit%>
<%end%>